.\#product-badges{display:flex}.\#product-badge{font-weight:var(--font-body-weight-bold);text-transform:uppercase;font-size:calc(var(--font-size-base)*.8);color:#fff;background:#333;padding:.25rem .6rem;border-radius:1rem}.\#product-badge+.\#product-badge{margin-left:calc(var(--spacer)*.3)}

.pre-order-notif {
    padding: 20px;
    background-color: #ffd400;
    color: #000;
}
.pre-order-notif p.ships_at b {
    display: block;
    color: red;
    max-width: 300px;
    text-transform: uppercase;
}
@media(max-width: 767px){
  .pre-order-notif h3 {
      font-size: 16px;
  }
}